.form-group p{
  color:red;
}
.user{
  border: 1px solid lightgreen;
  background:cyan;
  padding: 9px  10px;
  margin-bottom : 9px;
  width: 860px;
}
.post{
  border-radius: 9px;
  border: 1px solid lightcoral;
  background:coral;
  padding: 9px  10px;
  margin-bottom : 9px;
  margin-left: 9px;
  width: 660px;
}